<hr class="linea" />
<label class="logo3">XTECDigital</label>

<button class="inicio" (click)="goInicio()">Inicio</button>
<button class="cursos" (click)="goCursos()">Cursos</button>
<button class="micuenta" (click)="goPerfil()">Mi Cuenta</button>
<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>

<div class="barracurso">
  <button class="nombreCurso">{{ nombrecurso }} GR {{ grupo }}</button>
  <button class="docs" (click)="goDocs()">DOCUMENTOS</button>
  <button class="evaluaciones" (click)="goEvaluaciones()">EVALUACIONES</button>
  <button class="admin" (click)="goNoticias()">Noticias</button>
</div>

<div class="look" >
    <div *ngFor="let not of noticias">
        <mat-card>
            <mat-accordion>
                <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>
                            {{not["fecha"]}}
                        </h1>
                    </mat-panel-title>
                <mat-panel-description>
                    <h1>
                        {{not["titulo"]}}
                    </h1>
                </mat-panel-description>
                </mat-expansion-panel-header>
                    <h3>
                        {{not["cuerpo"]}}
                    </h3>
                    <p>
                        Autor: {{not["autor"]}}
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>

</div>
