<hr class="linea" />
<label class="logo3">XTECDigital</label>

<button class="inicio" (click)="goInicio()">Inicio</button>
<button class="cursos" (click)="goCursos()">Cursos</button>
<button class="micuenta" (click)="goPerfil()">Mi Cuenta</button>
<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>

<div class="barracurso">
  <button class="nombreCurso">{{ nombrecurso }} GR {{ grupo }}</button>
  <button class="docs" (click)="goDocs()">DOCUMENTOS</button>
  <button class="evaluaciones" (click)="goEvaluaciones()">EVALUACIONES</button>
  <button class="admin" (click)="goNoticias()">Noticias</button>
</div>

<div class="look">
  <button class="agreCarpeta">Agregar noticia</button>
  <label class="nombre">Nombre de la noticia</label>
  <input
    class="nombreInput"
    type="text"
    name="password"
    placeholder="Nombre de la noticia"
    (change)="crearNoticia($event.target.value)"
  />

  <div class="lookfil" style="overflow: auto">
    <div class="tramos">
      <div *ngFor="let noticia of noticiasCompletas">
        <mat-card class="productor">
          <h3>{{ noticia.titulo }} &nbsp;</h3>
          <h2>&nbsp; {{ noticia.cuerpo }} &nbsp;</h2>
          <h3>&nbsp; {{ noticia.fecha }} &nbsp;</h3>
        </mat-card>
      </div>
    </div>
  </div>
</div>
