<hr class="linea" />
<label class="logo">XTECDigital</label>

<button class="inicio">Inicio</button>
<button class="cursos">Cursos</button>
<button class="perfil">Perfil</button>

<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>


<div class="barracurso">
    <button class="nombreCurso">{{nombrecurso}} GR {{grupo}}</button>
    <button class="noticias">Noticias</button>
    <button class="documentos" >Documentos</button>
    <button class="evaluaciones">Evaluaciones</button>
</div>

<div class="look">
    <div class = "lookfil" style="overflow: auto">
        <div class="etiquetas">
        <div *ngFor="let doc of documento">
            <mat-card class="etiqueta">
            <h3>{{ doc }}&nbsp;</h3>
            <button>
                <h3>
                Descargar 
                </h3>
            </button>
            </mat-card>
        </div>
        </div>
    </div>
</div>
  