<hr class="linea" />
<label class="logo3">XTECDigital</label>

<button class="inicio" (click)="iniciogo()">Inicio</button>
<button class="cursos" (click)="buscargo()">Cursos</button>
<button class="micuenta" (click)="competenciasGo()">Mi Cuenta</button>
<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>

<div class="barracurso">
  <button class="nombreCurso">{{ nombrecurso }} GR {{ grupo }}</button>
  <button class="docs" (click)="docsCurso()" >DOCUMENTOS</button>
  <button class="evaluaciones">EVALUACIONES</button>
  <button class="admin">ADMIN</button>
</div>
|
<div class="look">
  <button class="matriz">Matriz</button>
  <button class="rubros">Rubros</button>
  <button class="detalles">Detalles de notas y entregas</button>
  <button class="notificaciones">Notificaciones</button>



</div>
