<hr class="linea" />
<label class="logo3">XTECDigital</label>

<button class="inicio" (click)="iniciogo()">Inicio</button>
<button class="cursos" (click)="buscargo()">Cursos</button>
<button class="micuenta" (click)="competenciasGo()">Mi Cuenta</button>
<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>

<div class="barracurso">
  <button class="nombreCurso">{{nombrecurso}} GR {{grupo}}</button>
  <button class="docs">DOCUMENTOS</button>
  <button class="evaluaciones">EVALUACIONES</button>
  <button class="admin">ADMIN</button>
</div>


<div class="look">
  <button class="agreCarpeta">Agregar carpeta</button>
  <label class="nombre">Nombre de la carpeta</label>
  <input
  class="nombreInput"
  type="text"
  name="password"
  placeholder="Nombre de la carpeta nueva"
  (change)="crearCarpeta($event.target.value)"
/>

    <div class = "lookfil" style="overflow: auto">
      <div class="tramos">
        <div *ngFor="let carpeta of carpetas">
          <mat-card class="productor">
            <h3>{{ carpeta.nombre }} &nbsp;</h3>
            <button class="searchbt" (click)="visitarCarpeta(carpeta.id_carpeta)">
                <h3>
                Ver
                </h3>
            </button>
        </mat-card>
        </div>
      </div>
    </div>
</div>
