<hr class="linea" />
<label class="logo">XTECDigital</label>

<button class="inicio" (click)="iniciogo()">Inicio</button>
<button class="cursos" (click)="cursosGo()">Cursos</button>
<button class="perfil" (click)="perfilGo()">Perfil</button>

<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>


<div class="barracurso">
    <button class="nombreCurso">{{nombrecurso}} GR {{grupo}}</button>
    <button class="noticias" (click)="noticiasGo()">Noticias</button>
    <button class="documentos" (click)="documentosGo()">Documentos</button>
    <button class="evaluaciones" (click)="evaluacionesGo()">Evaluaciones</button>
  </div>

<div class="look" >
    <div *ngFor="let asig of asignaciones">
        <mat-card>
            <mat-accordion>
                <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>
                            {{asig}}
                        </h1>
                    </mat-panel-title>
                <mat-panel-description>
                    <h2>
                        Rubro
                    </h2>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let rubro of rubros">
                    <h2>
                        {{rubro}}
                    </h2>
                    <div class="newFile">
                        <button [disabled]="!selectedFiles" (click)="upload()">Entregar</button>
                        <label>Seleccione el archivo a subir</label>
                        <input type="file" (change)="selectFile($event)" />
                    </div>
                </div>
                <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
                    <div *ngFor="let file of allFiles | async" >
                        <a href="{{ file.url }}">{{ file.name}}</a>
                    </div>
                </cdk-virtual-scroll-viewport>


                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>
    <button (click)="notasGo()">
        <h2>
            Notas
        </h2>
    </button>

</div>
