/* app/styles.css */

* {
  box-sizing: border-box;
  background-image: url('/src/assets/imagenes/fondo.jpg');
}
html,
body {
  background: #d794e2;
  background-image: url('/src/assets/imagenes/fondo.jpg');
}
header {
  background-image: url('/src/assets/imagenes/fondo.jpg');
}
h1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10;
  padding: 10;
}
.logo {
  width: 290px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: blue;
  opacity: 0.66;
}
.logo2 {
  width: 220px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: blue;
  opacity: 0.66;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500vh;
  background-color: #ffffff;
}
.custom-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #d7d7d7;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 10rem;
}
.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form select {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20vh;
  padding-top: 5px;
  padding-left: 10px;
}
.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #5f71cc;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

.nombre {
  width: 5px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  opacity: 0.66;
}
