.linea {
    position: absolute;
    width: 1512px;
    height: 0px;
    left: 0px;
    top: 70px;
  
    border: 1px solid #000000;
    transform: rotate(0.01deg);
  }
  
  .logo {
    position: absolute;
    top: -50px;
    width: 300px;
    height: 0.25px;
    font-family: Arial Black;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 200px;
    color: #00147a;
    opacity: 0.66;
  }
  
  
  .inicio {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: black;
    background-color: white;
    font-weight: bold;
    width: 10%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 40px;
    left: 250px;
    top: 30px;
  }
  
  .cursos {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: black;
    background-color: white;
    font-weight: bold;
    width: 10%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 40px;
    left: 400px;
    top: 30px;
  }
  
  .perfil {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: black;
    background-color: white;
    font-weight: bold;
    width: 10%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 40px;
    left: 580px;
    top: 30px;
  }
  
  .logOut {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: black;
    background-color: white;
    font-weight: bold;
    width: 10%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 40px;
    left: 1000px;
    top: 30px;
  }
  .barracurso {
    position: absolute;
    width: 1685px;
    height: 50px;
    top: 95px;
    left: 10px;
    background-color: #D7D7D7;
  }
  .nombreCurso{
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: block;
    cursor: pointer;
    position: relative;
    height: 50px;
    left: 0px;
    top: 0px;
  }
  .noticias{
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: block;
    cursor: pointer;
    position: absolute;
    height: 50px;
    left: 505px;
    top: 0px;
  }
  .documentos{
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: block;
    cursor: pointer;
    position: absolute;
    height: 50px;
    left: 625px;
    top: 0px;
  }
  .evaluaciones{
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: block;
    cursor: pointer;
    position: absolute;
    height: 50px;
    left: 792px;
    top: 0px;
  }
  .look {
    position: absolute;
    width: 1125px;
    height: 802px;
    top: 154px;
    left: 150px;
    background-color: #FFFFFF;
  }