<hr class="linea" />
<label class="logo">XTECDigital</label>


<button class="cursos" (click)="goCursos()">Cursos</button>
<button class="semestre" (click)="goSemestre()">Iniciar semestre</button>

<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>

<table class="container">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Codigo</th> 
        <th scope="col">Nombre</th>
        <th scope="col">Creditos</th>
        <th scope="col">Carrera</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos">
            <th scope="row"></th>
            <td>{{curso.codigo_curso}}&nbsp;&nbsp;</td>
            <td>{{curso.nombre_curso}}&nbsp;&nbsp;</td>
            <td>{{curso.creditos}}&nbsp;&nbsp;</td>
            <td>{{curso.carrera}}&nbsp;&nbsp;</td>
            <td>
                <button mat-flat-button (click)="deshabilitar()">
                    Deshabilitar
                </button>
            </td>
        </tr>
    </tbody>
    
  </table>