<hr class="linea" />
<label class="logo">XTECDigital</label>

<button class="inicio">Inicio</button>
<button class="cursos">Cursos</button>
<button class="semestre">Iniciar semestre</button>

<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>


<div class="cent">

    <div class="arc">
        <h1>
            Iniciar el semestre por medio de un archivo
        </h1>
        <button>
            Iniciar semestre con archivo
        </button>
        <h3>
            Recuerde que el archivo debe estar en formato .csv
        </h3>
    </div>
        
    <h1>
        Iniciar el semestre de forma manual
    </h1>
    <div [formGroup]="myForm" class="year">
        <label for="year">Fecha de inicio de semestre:</label>
        <input class="form-control" formControlName="yearDate" type="date" placeholder="Fecha"
        (change)='dobSet($event.target.value)'>
    </div>

    <div class="container">
        <select class="form-control" (change)="periodoSet($event.target.value)">
            <option value="">Seleccione el periodo</option>
            <option value="primero">1</option>
            <option value="segundo">2</option>
            <option value="verano">V</option>
        </select>
    </div>

    <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
        <div *cdkVirtualFor="let curso of cursos">
            <mat-card>
                <mat-accordion>
                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cont">
                                <select class="form-control" (change)="periodoSet($event.target.value)">
                                    <option value="">Seleccione el curso</option>
                                    <option value="a">Bases de datos</option>
                                    <option value="b">Datos 1</option>
                                    <option value="c">Datos 2</option>
                                </select>
                                <p>&nbsp;&nbsp;&nbsp; </p>
                                <select class="form-control" (change)="periodoSet($event.target.value)">
                                    <option value="">Seleccione el grupo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <p>&nbsp;&nbsp;&nbsp; </p>
                                <select class="form-control" (change)="periodoSet($event.target.value)">
                                    <option value="">Seleccione el profesor</option>
                                    <option value="a">Diego</option>
                                    <option value="b">Isaac</option>
                                </select>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="estu">
                        <div *cdkVirtualFor="let estudiante of estudiantes">
                            <mat-checkbox class="example-margin">{{estudiante}}</mat-checkbox>
                        </div>

                    </cdk-virtual-scroll-viewport>

                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
    </cdk-virtual-scroll-viewport>
    <button class="btn">
        <h2>
            Finalizar
        </h2>
    </button>
    
</div>

  