<hr class="linea" />
<label class="logo">XTECDigital</label>

<button class="inicio" (click)="iniciogo()">Inicio</button>
<button class="cursos" (click)="cursosGo()">Cursos</button>
<button class="perfil" (click)="perfilGo()">Perfil</button>

<button class="logOut" [routerLink]="['/home']">Cerrar Sesión</button>


<div class="barracurso">
    <button class="nombreCurso">{{nombrecurso}} GR {{grupo}}</button>
    <button class="noticias" (click)="noticiasGo()">Noticias</button>
    <button class="documentos" (click)="documentosGo()">Documentos</button>
    <button class="evaluaciones" (click)="evaluacionesGo()">Evaluaciones</button>
  </div>

<div class="look" >
    <div *ngFor="let h of headers">
        <mat-card>
            <h1>
                {{h["head"]}} &nbsp;&nbsp; {{h["value"]}}
            </h1>

        </mat-card>
    </div>

</div>
<button class="btn">
    <h2>
        Descargar
    </h2>
</button>


